@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --background-color: #374151;
  --font-color: #f9fafb;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  
}

.grid {
  width: 600px;
  height: 600px;
  display: grid;
  grid-gap: 0em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  border: 4px solid #1d3557;
  background-color: white;
}

.player-grid-item {
  border: 1px solid #dddd;
  text-align: center;
  max-width: 1fr;
}


.player-grid-container, .computer-grid-container {
  display: none;
}

.computer-grid-item {
  border: 1px solid #dddd;
  text-align: center;
  max-width: 1fr;
}

.hit {
  background-color: blue;
}

.missed {
  background-color: yellow;
}

.filled {
  background-color: red;
}

.filledC {
  background-color: pink;
}

main {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 2em;
}

button {
  display: block;
  margin: auto;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  background-color: var(--font-color);
  border: none;
  box-shadow: none;
  border-radius: 4px;
  padding: .1em .3em;
}

h1 {
  text-align: center;
}

#play-again {
  display: none;
}

.instructions {
  margin: 0 3em 1em 3em;
  font-size: 1.2rem;
  line-height: 1.4em;
}